@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using NewsSite.Web
@model IEnumerable<NewsSite.Domain.Entities.News>
@inject IStringLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Admin_IndexTitle"];
    }

<h1>@Localizer["Admin_NewsHeader"]</h1>

<p>
    <a asp-area="Admin" asp-controller="News" asp-action="Create" class="btn btn-success">
        @Localizer["Admin_CreateNews"]
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>@Localizer["Field_TitleRu"]</th>
            <th>@Localizer["Field_TitleEn"]</th>
            <th>@Localizer["Field_PublishedAt"]</th>
            <th>@Localizer["Field_IsPublished"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var n in Model)
            {
            <tr>
                <td>@n.Id</td>
                <td>@n.TitleRu</td>
                <td>@n.TitleEn</td>
                <td>@n.PublishedAt.ToLocalTime().ToString("dd.MM.yyyy")</td>
                <td>@(n.IsPublished? Localizer["Common_Yes"] : Localizer["Common_No"])</td>
                <td>
                    <a asp-area="Admin" asp-controller="News" asp-action="Edit" asp-route-id="@n.Id" class="btn btn-warning">
                        @Localizer["Admin_EditNews"]
                    </a>
                    <a asp-area="Admin" asp-controller="News" asp-action="Delete" asp-route-id="@n.Id" class="btn btn-danger">
                        @Localizer["Admin_DeleteNews"]
                    </a>
                </td>
            </tr>
            }
    </tbody>
</table>
